In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('data/train.csv', header=None)
train_df.head()

   0                                                  1
0  1  Unfortunately, the frustration of being Dr. Go...
1  2  Been going to Dr. Goldberg for over 10 years. ...
2  1  I don't know what Dr. Goldberg was like before...
3  1  I'm writing this review to give you a heads up...
4  2  All the food is great here. But the best thing...

In [3]:
test_df = pd.read_csv('data/test.csv', header=None)
test_df.head()

   0                                                  1
0  2  Contrary to other reviews, I have zero complai...
1  1  Last summer I had an appointment to get new ti...
2  2  Friendly staff, same starbucks fair you get an...
3  1  The food is good. Unfortunately the service is...
4  2  Even when we didn't have a car Filene's Baseme...

In [7]:
train_df[0] = (train_df[0] == 2).astype(int)
test_df[0] = (test_df[0] == 2).astype(int)

In [8]:
train_df.head()

   0                                                  1
0  0  Unfortunately, the frustration of being Dr. Go...
1  1  Been going to Dr. Goldberg for over 10 years. ...
2  0  I don't know what Dr. Goldberg was like before...
3  0  I'm writing this review to give you a heads up...
4  1  All the food is great here. But the best thing...

In [9]:
test_df.head()

   0                                                  1
0  1  Contrary to other reviews, I have zero complai...
1  0  Last summer I had an appointment to get new ti...
2  1  Friendly staff, same starbucks fair you get an...
3  0  The food is good. Unfortunately the service is...
4  1  Even when we didn't have a car Filene's Baseme...

In [17]:
train_df_bert = pd.DataFrame({
    'id':range(len(train_df)),
    'label':train_df[0],
    'alpha':['a']*train_df.shape[0],
    'text': train_df[1].replace(r'\n', ' ', regex=True)
})

train_df_bert.head()

   id  label alpha                                               text
0   0      0     a  Unfortunately, the frustration of being Dr. Go...
1   1      1     a  Been going to Dr. Goldberg for over 10 years. ...
2   2      0     a  I don't know what Dr. Goldberg was like before...
3   3      0     a  I'm writing this review to give you a heads up...
4   4      1     a  All the food is great here. But the best thing...

In [18]:
dev_df_bert = pd.DataFrame({
    'id':range(len(test_df)),
    'label':test_df[0],
    'alpha':['a']*test_df.shape[0],
    'text': test_df[1].replace(r'\n', ' ', regex=True)
})

dev_df_bert.head()

   id  label alpha                                               text
0   0      1     a  Contrary to other reviews, I have zero complai...
1   1      0     a  Last summer I had an appointment to get new ti...
2   2      1     a  Friendly staff, same starbucks fair you get an...
3   3      0     a  The food is good. Unfortunately the service is...
4   4      1     a  Even when we didn't have a car Filene's Baseme...

In [20]:
train_df_bert.to_csv('data/train.tsv', sep='\t', index=False, header=False)

In [21]:
dev_df_bert.to_csv('data/dev.tsv', sep='\t', index=False, header=False)